<html>
<head>
<title>index3</title>
</head>
<body style='background-image:("bg.url")'>
<h1 style='color:#FF33BE;font-family:Stencil;'>Flowers</h1>
<img src='rose.jpg' alt='demopicture' style='width:290px;height:300px'>
<a href='https://www.google.com' style='font-size:190%;'>Google</a>
<p style='font-size:180%;color:Olive;font-family:Lucida Calligraphy;'>Flowers carry importance in each nook and corner of the world. They also come in use for making medicines.
 Similarly, we also make difference in fragrance perfumes from the flowers.
 Further, the butterflies, birds and bees take the flowers as food.
In many weddings, the bride carries a bouquet of flowers when she walks down the aisle.
 Thus, it is very symbolic in that sense. On special occasions of valentines and anniversary, we gift our partners’ beautiful flowers as a symbol of our love.
</p>
</body>
</html>